body {
  margin: 0;
  padding: 0;
  background-color: #253143;
}
@font-face {
  font-family: "Hogwarts";
  src: local("Hogwarts"), url("./fonts/harry_p/HARRYP__.TTF") format("truetype");
  font-weight: bold;
}
